/* body styling */
body {
  background-color: #353131;
  font-size: 1.2rem;
  color: #cec9cc;
}

#clickUniverse {
  margin-bottom: 10px;
}

.display {
  display: none;
}
.header{
  color: #cec9cc;
}
a {
  color:transparent
}
/* character card styling */
#superheroCard {
  padding: 3px;
  border: 3px solid #f5f5f5;
  background-color: #fffa3d;
}
.pokeBackground{
  margin-top: 10px;
  background-color: #e7e7e7;
}
.character1Card {
  padding: 2px;
}

.character2Card {
  padding: 2px;
}
#mainGameScreen{
  padding: 10px;
}
.ui.basic.modal{
  display: block;
  margin: 0 auto;
  padding: 20px;
  height: 500px;
  background-color: #4f43ae;
}
.screen { 
  width:200px; 
  height:200px; 
  position: fixed; 
  top: 25%; 
  left: 25%; 
  margin-top: -100px; 
  margin-left: -100px; 
} 
/* powerstat buttons styling */
.powerstat {
  margin-bottom: 20px;
}
/* padding for Exit Game button */
#exitGame {
  margin-top: 10px;
}
.listElement{
  margin: 0 auto;
  display: block;
  color: #cec9cc;
  text-align: center;
}
/* powerUP logo styling */
#powerUpLogo {
  color: #cec9cc; 
  padding: 10px;
  background-color: #908a99;
  border-bottom: 5px solid #4f43ae;
  font-size: 24px;
}
summary{
  cursor: pointer;
}
/* Blink effect for PowerUp logo
/* @group Blink */
.blink {
  -webkit-animation: blink 0.75s linear infinite;
  -moz-animation: blink 0.75s linear infinite;
  -ms-animation: blink 0.75s linear infinite;
  -o-animation: blink 0.75s linear infinite;
  animation: blink 0.75s linear infinite;
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  50.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* @end */
